aiofiles>=23.2.1
aiohttp>=3.8.5
aioimaplib>=1.0.1
aiosignal>=1.3.1
aiosmtplib>=2.0.2
anyio>=4.0.0
async-timeout>=4.0.3
attrs>=23.1.0
backoff>=2.2.1
base36>=0.1.1
base58>=2.1.1
beautifulsoup4>=4.12.2
cachetools>=5.3.1
certifi>=2023.7.22
charset-normalizer>=3.2.0
chroma-hnswlib>=0.7.1
chromadb>=0.4.0
click>=8.1.7
colorama>=0.4.6
coloredlogs>=15.0.1
decorator>=4.4.2
fastapi
filelock>=3.12.3
flatbuffers>=23.5.26
frozenlist>=1.4.0
fsspec>=2023.9.0
google>=3.0.0
google-api-core>=2.11.1
google-auth>=2.23.0
google-cloud>=0.34.0
google-cloud-texttospeech>=2.14.1
googleapis-common-protos>=1.60.0
h11>=0.14.0
httpcore>=0.17.3
httptools>=0.6.0
httpx>=0.24.1
huggingface-hub>=0.16.4
humanfriendly>=10.0
idna>=3.4
imageio>=2.31.3
imageio-ffmpeg>=0.4.8
importlib-resources>=6.0.1
mail-parser>=3.15.0
monotonic>=1.6
moviepy>=1.0.0
mpmath>=1.3.0
multidict>=6.0.4
numpy>=1.25.2
onnxruntime>=1.15.1
openai>=1.0.0
overrides>=7.4.0
packaging>=23.1
pandas>=2.1.0
Pillow>=10.0.0
posthog>=3.0.2
proglog>=0.1.10
prompt-toolkit>=3.0.39
proto-plus>=1.22.3
pulsar-client>=3.3.0
pyasn1>=0.5.0
pyasn1-modules>=0.3.0
pydantic
PyPika>=0.48.9
pyreadline3>=3.4.1
python-dateutil>=2.8.2
python-dotenv>=1.0.0
python-telegram-bot>=20.5
pytz>=2023.3.post1
PyYAML>=6.0.1
requests>=2.31.0
rsa>=4.9
simplejson>=3.19.1
six>=1.16.0
sniffio>=1.3.0
soupsieve>=2.5
starlette>=0.27.0
sympy>=1.12
tokenizers>=0.14.0
toml>=0.10.0
protobuf
grpcio
grpcio-status
h11==0.14.0
httpcore==0.17.3
httptools==0.6.0
httpx==0.24.1
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
imageio==2.31.3
imageio-ffmpeg==0.4.8
importlib-resources==6.0.1
mail-parser==3.15.0
monotonic==1.6
moviepy==1.0.0
mpmath==1.3.0
multidict==6.0.4
numpy==1.25.2
onnxruntime==1.15.1
overrides==7.4.0
packaging==23.1
pandas==2.1.0
Pillow==10.0.0
posthog==3.0.2
proglog==0.1.10
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf
pulsar-client==3.3.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.12
PyPika==0.48.9
pyreadline3==3.4.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-telegram-bot==20.5
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
simplejson==3.19.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starlette==0.27.0
sympy==1.12
telegram==0.0.1
tokenizers==0.14.0
toml==0.10.0
pysocks
chardet
pydub
aiosqlite
python-telegram-bot
pydub
stability_sdk
sentence-transformers==2.2.2
tiktoken
markdown
PyPDF2
srt==3.5.3
webvtt-py==0.4.6
docker
generic_escape
duckduckgo-search
SQLAlchemy
mysqlclient
psycopg2-binary
pyodbc
oracledb
html2text
docx2txt
opencv-python
