chromadb==0.4
moviepy==1.0
base58==2.1
base36==0.1
aiofiles==23.2.1
aiohttp==3.7.0
aioimaplib==1.0.1
aiosmtplib==2.0.2
beautifulsoup4==4.12.2
mail_parser==3.15.0
prompt_toolkit==3.0.39
pydantic==1.10.11
python-telegram-bot==20.5
Requests==2.31.0
protobuf
stability_sdk
toml
base58
google-cloud-texttospeech
openai
Pillow
aiosqlite
PySocks==1.7.1
